<%- include('header'); -%> 
<div class="contact"> 
    <form method="post">
        <label for="">UserName : </label>
        <input type="text" name="" id=""><br>
        <label for="">Password : </label>
        <input type="password" name="" id=""><br>
        <button type="submit">Sumbit</button>
    </form>
</div> 
<%- include('footer'); -%>